body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: whitesmoke;
}

.btnCollapse {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}